*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;   
}
/* body {
    width: 100%;
    position: relative;
} */
header {
    height: 90px;
    background-color: whitesmoke;
    width: 100%;
    position: fixed;
    z-index: 1000;
}
nav {
    display: flex;
    justify-content: space-between;
    list-style: none; 
    align-items: center;
    font-size: 30px; 
    font-weight: 300;
}
.nav-link{
    padding: 28px 0;
    display: flex;
    justify-content: space-between;
}
.nav-link li{
    display: inline-block;
    margin: 0 15px;
}
.nav-link li a{
    text-decoration: none;
    padding: 5px 0;
    color: #000;
}
.about {
    text-decoration: none; 
    list-style: none;
    color: #000; 
}

.hamburger {
    display: none;
}
.loving {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(247, 201, 115);
}
.loving h2 {
    color: black;
    font-size: 55px;
    font-weight: 500;
    text-align: left;
    font-family: sans-serif;
    margin-left: 30px;
}
.loving img {
    height: 700px;
}
.loving :hover img{
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}
.for a {
   font-size: 50px;
   font-weight: 500;
   color: black;
   text-decoration: none;
   font-family: bold sans-serif;
   margin-left: 30px;
}
.eat img {
    filter: invert();
    height: 10px;
}
.eater img{
    height: 10px; 
}

.marquee{ 
    white-space: nowrap;
    background-color:  rgb(247, 201, 115);
    overflow: hidden;
    padding: 60px 0;
    display: flex;
    justify-content:space-around;
} 

.marquee-container{
    display: flex;
    gap: 5rem;
   align-items: center;
   height: 70px;
   animation: 60s slide linear infinite;
}

.marquee-container img {
    height: 40px;
    margin: 0 30px;
}

@keyframes slide {
   from {
    transform: translateX(-100%);
   }
   to{
    transform: translateX(0)
   }
}

.text-wrapper {
    display:flex;
    justify-content: flex-start;
    background-color: sandybrown;
    overflow: hidden;
    position: fixed;
    top: 86%;
}
 p {
    font-size: 40px;
    text-transform: uppercase;
    white-space: nowrap;
    padding: 20px 130px;
    animation: slide-p 20s linear infinite;
    z-index: 5;
    top: auto;
}

@keyframes  slide-p {
    from{
transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

.fresh {
    background-color: #8796d9;
    margin-top: -4px;
}
.sara {
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
}
.sara img {
    margin-top: 30px;
    height: 100%;
    width: 50%;
}
.chefs h2 {
    text-align: left;
    font-family: Favorit, sans-serif;
    font-size: 3rem;
    font-weight: 400;
    line-height: 3.8rem;
    margin-top: 30px;
}
.modern {
    margin-top: 15px;
    font-family: sans-serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 2.4rem;
}
.chefs h4{
    font-size: 2rem;
    /* line-height: 1em; */
    font-weight: 400;
    font-family: sans-serif;
    margin-top: 20px;
}
.come {
    display: flex;
    justify-content: space-around; 
    margin-top: 80px;
    padding-left: 30px;
}
.cook h2{
    text-align: left;
    font-family: Favorit, sans-serif;
    font-size: 3.2rem;
    font-weight: 400;
    line-height: 3.8rem;
    margin-bottom: 15px;
}
.cook h3 {
    font-family: sans-serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 2.4rem;
}
.cook h4 {
    font-size: 2rem;
    font-weight: 400;
    font-family: sans-serif;
    margin-top: 20px;  
    margin-bottom: 50px;
}
.come img {
    height: 100%;
    width: 50%; 
    margin-bottom: 50px;
}



@media screen and (max-width: 375px) {
   /* header {
display: none;
   }  */
    .nav {
      display: none;
    }
    .hamburger{
        display: block;
        width: 30px;
    }
    .loving h2{
        font-size: 40px;
    }
    .loving {
        overflow: hidden;
    }
}